h1{
    color:white;
    text-shadow: 2px 2px 15px rgb(81, 167, 218);
    /* text-shadow: 2px 2px 4px #000000; */
    font-size: 5em;
}
h2{
    color:white;
    text-shadow: 2px 2px 5px rgb(81, 167, 218);
    /* text-shadow: 2px 2px 4px #000000; */
    font-size: 3em;
}

.mainBox{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/Images/GA_PCMbuilding.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.navBar{
    color:darkblue;
    font-size: 20px;
    border: solid;
    height: 50px;
    width: 500px;
    margin-left: 100px;
    margin-top: 20px;

}
/* #################### PORTRAIT ############## */
.portrait{
    /* color:darkblue; */
    font-size: 20px;
    /* border: 5px solid; */
    height: 20vmin;
    width: 20vmin;
    margin-left: 100px;
    margin-top: 20px;
    border-radius: 15px 50px;
    position: relative;

}
.portrait img{
    height: 100%;
    border-radius: 15px 50px;
    object-fit: cover;
}
.topImg{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 42;
}
.portrait:hover .topImg{
    height: 110%;
    display: inline; 
    /* border: 5px solid; */
    /* border-block-color: darkblue; */
    overflow: hidden;
    
}

.highLights{
    /* color:darkblue; */
    /* border: solid; */
    height: 20vh;
    width: 80vw;
    margin-left: 200px;
    margin-top: 20vh;
    padding: 20px;
    text-align: center;

}
ul {
    font-size: 1em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
    text-shadow: 2px 2px 5px rgb(81, 167, 218);
    font-size: 2em;
  }
  